.address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input[type="button"] {
        height: 100%;
        width: fit-content;
        padding: 8px 15px;

        font-size: .9rem;
        color: var(--focus-color);

        border: 1px solid var(--border-color);
        border-radius: 10px;

        background-color: white;

        &:focus-within {
            box-shadow: 0px 0px 5px var(--focus-color);
        }

        &:hover {
            cursor: pointer;
            outline: 3px solid var(--focus-color);
            outline-offset: -2px;
        }
    }
}

.positional-container {
    position: relative;
    height: 0;
    width: 100%;
}

.postcodeWrap {
    display: none;
    border: 1px solid var(--border-color);
    width: min(500px, 100%);

    margin: 0 0;
    z-index: 100;

    position: absolute;
    top: 5px;
    left: 0;
}


.btnFoldWrap {
    cursor: pointer;

    position: absolute;
    right: -24px;
    top: -3px;

    z-index: 100;

    width: 24px;
    height: 24px;

    background-image: url('./close-square.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.zonecode {
    font-size: 0.9rem;
}