.address-container {
    width: 100%;
}
.address-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input[type="button"] {
        height: 100%;
        width: fit-content;
        padding: 6px 15px;

        font-size: .9rem;
        font-weight: 600;    
        border-radius: 10px;
    }
}


.postcodeWrap {
    display: none;
    border: 1px solid var(--border-color);
    width: min(500px, 100%);
    max-height: 600px;

    margin: 0 0;
    z-index: 100;

    position: absolute;
    top: 5px;
    left: 0;
}


.btnFoldWrap {
    cursor: pointer;

    position: absolute;
    right: -24px;
    top: -3px;

    z-index: 100;

    width: 24px;
    height: 24px;

    background-image: url('./close-square.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.zonecode {
    font-size: 0.9rem;
}