
.card-container {
    margin: 10px 8px 0 8px;
    display: grid;

    @media (min-width: 600px) and (max-width: 820px) {
        & {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: 820px) and (max-width: 900px) {
        & {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media (min-width: 1200px) {
        & {
            grid-template-columns: 1fr 1fr;
        }
    }
}
