@media (max-width: 900px) {
    .wide-screen {
        display: none;
    }
}

.filters {
    display: flex;
    gap: 0 10px;
    align-items: center;

    height: var(--filters-height);
    width: 100%;

    border-bottom: 1px solid var(--border-color);
    padding: 0 8px;

    background-color: var(--background-color);

    text-wrap: nowrap;
}

.filter-container {
    height: 75%;
}

.filter {
    width: fit-content;
    height: 100%;
    padding: 0 15px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 4px;

    font-weight: 500;
    letter-spacing: 0.15rem;

    text-wrap: nowrap;
}

@media (max-width: 600px) {
    .removable {
        display: none;
    }
}

.tilde {
    height: 1rem;
    width: 0.9rem;

    background-image: url('./images/tilde.svg');
    background-repeat: no-repeat;
    background-size: 0.9rem 0.9rem;
    background-position: bottom;
}