
.main-nav {
    --focus-color: #aa68ff;  /* bright indigo */

    width: 100%;
    padding: 0px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav>ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.main-nav>ul a {
    text-decoration: none;
    color: black;

    &:hover {
        color: var(--focus-color);
    }
}

.logo {
    position: relative;

    height: calc(var(--header-height) - 5px);

    padding: 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: black;
    text-transform: uppercase;

    &>sup {
        position: relative;
        font-size: 30px;
        left: -10px;
        top: 2px;
    }

    &:hover {
        border: none;
        background-color: white;
        text-shadow: 2px 3px 4px gray;
    }
    
}