.main-nav {
    width: 100%;
    padding: 0px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &>* {
        flex-basis: 33%;
        flex-shrink: 1;
    }
}

.main-nav>ul {
    list-style: none;

    display: flex;
    gap: 2rem;

    justify-content: center;

    &.left {
        justify-content: left;
    }

    &.right {
        justify-content: right;
    }
}

.main-nav>ul a {
    text-decoration: none;
    color: black;
    text-wrap: nowrap;

    &:hover {
        color: var(--focus-color);
    }
}

.logo {
    position: relative;

    height: calc(var(--header-height) - 5px);

    padding: 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: black;
    text-transform: uppercase;

    transition: text-shadow 0.2s;

    &>sup {
        position: relative;
        font-size: 30px;
        left: -10px;
        top: 2px;
    }

    &:hover {
        border: none;
        background-color: white;
        text-shadow: 2px 3px 4px gray;
    }

}