.container {
    height: 100%;

    &>button {
        width: fit-content;
    }
}

.dialog {
    font-size: var(--input-font-size);
    max-height: 20rem;
    overflow-y: scroll;

    list-style-type: none;
}

.string {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}