.container {
    height: max(2rem, 100%);
    width: 100%;

    & button {
        width: max(100%, 10rem);
    }

    & button.fitContent {
        width: fit-content;
    }
}

.dialog {
    font-size: 0.9rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.string {
    max-width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}