.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 10px 0 10px 40px;
}

.input-container {
    height: 2rem;

    & *:not(span) {
        font-size: var(--input-font-size);
    }
}

.input-item {
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 10px;
}

.input-title {
    width: fit-content;
    font-size: var(--input-title-font-size);
    text-wrap: nowrap;
}