.input-subflex {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    & input {
        font-size: 0.9rem;
    }
}

.year-input {
    width: 5rem;
}

.month-input, .day-input {
    width: 3.5rem;
}