.input-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	padding: 10px 0;
}

.input-container {
    height: 2rem;

    & * {
        font-size: var(--input-font-size);
    }
}

.input-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.input-title {
	width: fit-content;
	font-size: var(--input-title-font-size);
	text-wrap: nowrap;
}