.input-value {
    padding: 10px;
    border-radius: 10px;
    font-size: .9rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.midinput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subinput {
    display: flex;
    align-items: center;

    position: relative;
    padding: 0px 10px 0 0;

    &>input {
        width: 100%;
    }

    &>.subtitle {
        width: 100%;
    }

    &>.unit {
        position: absolute;
        right: 15%;

        padding: 3px 3px;

        /*&:hover {
            border-radius: 5px;
            background-color: violet;
            color: white;
            cursor: pointer;
        }*/

        & sup {
            font-size: 0.6rem;
        }
    }
}

.main-purpose-input {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;

    & input {
        width: 100%;
        font-size: .9rem;
        border: none;
    }

    & input:focus {
        outline: none;
    }
}

.year-input {
    width: 5rem;
}

.month-input,
.day-input {
    width: 3.5rem;
}