.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.dropdown-input {
    display: flex;
    align-items: center;

    padding: 5px 8px 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;

    &>input {
        width: 100%;
        height: 1.3rem;
        border: none;
        font-size: var(--input-font-size);
    }
}


.dropdown {
    z-index: var(--dropdown-z-index);

    position: absolute;
    top: 5px;

    width: max(100px, 110%);
    max-height: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: var(--background-color);
    border-radius: 4px;
    box-shadow: 0 5px 10px gray;

    list-style-type: none;

    & li {
        margin: 0 1rem;
    }

    & li+li {
        border-top: 1px solid var(--border-color);
    }

    & .dropdown-item {
        width: 100%;
        height: 2.2rem;
        padding-right: 0.8rem;

        display: flex;
        align-items: center;
        justify-content: left;

        font-size: var(--input-font-size);

        background-color: var(--background-color);

        border: none;
        &:focus {
            outline: none;
            background-color: var(--background-active-color);
        }

        &:hover {
            background-color: var(--background-active-color);
            cursor: pointer;
        }
    }
}