.body-container {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;

    width: 800px;
/*    border: 1px solid;*/
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    row-gap: 15px;
    align-items: center;

    padding: 20px;
    margin: 15px 20px;
    border: 1px solid;
    border-radius: 10px;
}

.input-subgrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    column-gap: 20px;
    row-gap: 8px;
    align-items: center;
}

.input-title {
    text-align: center;
}

.input-container {
    height: 2rem;

    & * {
        font-size: .9rem;
    }
}

.input-subflex {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.input-set {
    border-bottom: none;
    border-left: none;
    border-right: none;

    &>legend {
        padding: 5px;
        margin: 0px 20px;
    }
}