.posts-layout-parent {
    display: flex;
    flex-direction: column;
}

.posts-layout {
    width: 100%;
    height: var(--map-height);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.posts-layout .card-nav {
    height: var(--map-height);

    border-left: 1px solid var(--border-color);
    box-shadow: 0px 10px 10px gray;
    z-index: var(--posts-layout-z-index);

    overflow-y: scroll;
    overflow-x: hidden;
}

@media (min-width: 900px) {
    .posts-layout .card-nav {
        width: 340px;
    }
}

@media (min-width: 1200px) {
    .posts-layout .card-nav {
        width: 680px;
    }
}

.posts-layout .map-section {
    height: var(--map-height);

    /* fill the space of posts-layout left after giving card-nav some fixed width. */
    flex: 1 0 0;
}