@font-face {
    font-family: "Noto Sans KR";
    font-optical-sizing: auto;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    font-optical-sizing: auto;
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

html {
    box-sizing: border-box;

    --header-height: 58px;
    --filters-height: 47px;

    --header-z-index: 3;
    --map-z-index: 1;
    --posts-layout-z-index: 2;
    --dialog-z-index: 3;
    --backdrop-z-index: 3;
    --dropdown-z-index: 4;

    --focus-color: #aa68ff;
    /* bright indigo */
    --focus-shadow: var(--focus-color);
    --hover-color: #e3bdff;
    --border-color: #ccc;
    --background-color: white;
    --background-active-color: #f4e4ff;
    /* brighter indigo */

    --map-height: calc(100vh - var(--header-height) - var(--filters-height));

    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    z-index: var(--header-z-index);
    border-bottom: 1px solid #ccc;

    height: var(--header-height);
    width: 100%;

    display: flex;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*
.diamond-shape {
    fill: red;
}

.diamond-container {
    width: 37px;

    &.large .diamond-shape {
        fill: blue;
    }

    &.large g {
        transform: scale(1.15) translate(-2%, -12%);
    }
}
*/

.body-container {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 640px;
    border: 1px solid;
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 20px;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    margin: 15px 20px;
    align-items: center;
    row-gap: 10px
}

.input-title {
    text-align: center;
}

.input-container {
    height: 2rem;

    & * {
        font-size: .9rem;
    }
}

.product-type-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
}

.address-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.remove {
    display: none;
}


.address-value, .address-detail {
    padding: 10px;
    border-radius: 10px;
    font-size: .9rem;
}

.address-subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    &>input {
        border: 1px solid;
        border-radius: 10px;
        font-size: .9rem;
        padding: 10px;
    }
}

.postcodeWrap {
    display: none;
    border: 1px solid;
    width: 500px;
    height: 300px;
    margin: 0 0;
    position: relative;
}

.positional-container {
    position: relative;
    height: 0;
    width: 100%;
}

.dialog {
    position: absolute;
    top: 5px;
    left: 0;
}

.btnFoldWrap {
    cursor: pointer;
    position: absolute;
    right: -24px;
    top: -3px;
    z-index: 1;

    width: 24px;
    height: 24px;

    background-image: url('./components/close-square.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.dong-input {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;

    width: fit-content;

    & input {
        font-size: .9rem;
        border: none;
    }
}