@font-face {
    font-family: "Noto Sans KR";
    font-optical-sizing: auto;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    font-optical-sizing: auto;
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

html {
    box-sizing: border-box;

    --header-height: 58px;
    --filters-height: 47px;

    --header-z-index: 3;
    --map-z-index: 1;
    --posts-layout-z-index: 2;
    --dialog-z-index: 3;
    --backdrop-z-index: 3;
    --dropdown-z-index: 4;

    --focus-color: #aa68ff;
    /* bright indigo */
    --focus-shadow: var(--focus-color);
    --hover-color: #e3bdff;
    --border-color: #ccc;
    --background-color: white;
    --background-active-color: #f4e4ff;
    /* brighter indigo */

    --map-height: calc(100vh - var(--header-height) - var(--filters-height));

    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    z-index: var(--header-z-index);
    border-bottom: 1px solid #ccc;

    height: var(--header-height);
    width: 100%;

    display: flex;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


:where(input[type='radio'], input[type="checkbox"]) {
    appearance: none;
    background-color: var(--background-color);
    margin: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid currentColor;
    display: inline-grid;
    place-content: center;
}

input[type='radio'] {
    border-radius: 50%;

    &::before {
        border-radius: 50%;
    }
}

input[type='checkbox'] {
    border-radius: 4px;
}

:where(input[type='radio'], input[type='checkbox'])::before {
    display: block;
    content: '';
    width: 0.8em;
    height: 0.8em;
}

:where(input[type='radio'], input[type='checkbox']):hover::before {
    background-color: var(--hover-color);
}

:where(input[type='radio'], input[type='checkbox']):checked::before {
    background-color: var(--focus-color);
}


/*
.diamond-shape {
    fill: red;
}

.diamond-container {
    width: 37px;

    &.large .diamond-shape {
        fill: blue;
    }

    &.large g {
        transform: scale(1.15) translate(-2%, -12%);
    }
}
*/